---
import Hamburger from './Hamburger.astro'
---

<nav class='nav-links'>
	<a href='/'>Home</a>
	<a href='/about/'>About</a>
	<a href='/blog/'>Blog</a>
	<a href='/tags/'>Tags</a>
</nav>
<Hamburger />
